/* iPhone 15 Pro portrait orientation */
@media only screen and (min-device-width: 393px) and (max-device-width: 430px) and (min-device-height: 852px) and (max-device-height: 932px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /* 세로 방향 스타일 정의 */
}
body {
  width: 393px;
  height: 852px;
  background: #fff;
  margin: 0%;
  position: relative;
}

header {
  display: flex;
  padding: 19px 27px 17.6px 27px;
  align-items: center;
  position: fixed;
  gap: 87px;
  z-index: 100;
  background: #fff;
  height: 37px;
}

.navbar {
  z-index: 100;
  position: fixed;
  top: 70px;
  background: #fff;
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    padding-left: 0%;
    margin: 0%;
    li {
      padding: 15px 22px 15px 22px;
      color: #8a8888;
      text-align: center;
      font-family: "Noto Sans KR";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      a {
        color: inherit;
        text-decoration: none;
      }
      .nav-QnA {
        color: #5422e1;
      }
    }
  }
}
.blank {
  height: 123px;
}
.banner {
  margin-top: 3px;
  width: 393px;
  height: 253px;
  .banner_img {
    z-index: 1;
    position: absolute;
  }
  div {
    z-index: 3;
    position: absolute;
    .banner_logo {
      margin-left: 29px;
      margin-top: 50px;
      width: 102.588px;
      height: 33px;
    }
    .banner_headline {
      margin-left: 30px;
      margin-top: 8px;
      width: 282px;
      height: 74px;
      color: #fff;
      font-family: "Noto Sans KR";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 37px; /* 168.182% */
      letter-spacing: -0.408px;
    }
  }
}

.mentorOfMonth {
  div:first-child {
    display: flex;
    white-space: nowrap;
    .mentor_title {
      padding: 20px 216px 16px 21px;
      color: #5422e1;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 110% */
      letter-spacing: -0.408px;
    }
    a {
      padding-top: 21px;
      width: 44.945px;
      height: 17px;
      display: flex;
      align-items: center;
      color: #8a8888;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      img {
        padding-left: 1px;
        width: 5.91px;
        height: 13.44px;
      }
    }
  }
}

.mentor-card-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  .mentor-card {
    border-radius: 5px;
    border: 1px solid rgba(84, 34, 225, 0.5);
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.latestQnA > div:first-child {
  display: flex;
  white-space: nowrap;
  .latestQnA_title {
    padding: 20px 142px 16px 21px;
    color: #5422e1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 110% */
    letter-spacing: -0.408px;
  }
  a {
    padding-top: 21px;
    width: 44.945px;
    height: 17px;
    display: flex;
    align-items: center;
    color: #8a8888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    img {
      padding-left: 1px;
      width: 5.91px;
      height: 13.44px;
    }
  }
}

.questions-container {
  display: flex;
  overflow: auto;
  .question-card {
    width: 209px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(84, 34, 225, 0.5);
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
