{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>비밀번호찾기1</title>
  </head>
  <body>
    <article>
      <header>
        <div class="title_box">
          <div class="page_title_pw">비밀번호 찾기</div>
          <img src="{% static 'img/ph_x.png' %}" alt="X아이콘" />
        </div>
        <div class="shadow_line"></div>
      </header>
      <form method="#" action="#">
        <div class="first_info">
            <div class="title">비밀번호를 찾기 위해 <br />이메일을 인증해주세요.</div>
            <div class="guide">회원가입 시 등록한 이메일 주소와 입력한 이메일 주소가<br />일치하다면 이메일 주소로 비밀번호 재설정 링크를<br />보내드려요.</div>
            <div class="border_box_pw">
                <div class="choose_box">
                    <input type="text" class="input_box" placeholder="이름" />
                </div>
                <div class="middle_line"></div>
                <div class="choose_box">
                    <input type="text" class="input_box" placeholder="이메일" />
                    <button class="certification"><a href="#">인증번호</a></button>
                </div>
                <div class="middle_line"></div>
                <div class="choose_box">
                    <input type="text" class="input_box" placeholder="인증번호" />
                    <button class="certification"><a href="#">인증확인</a></button>
                </div>
            </div>
        </div>
    </article>
    <div id="popup" class="popup">
        <div>가입되지 않은 이메일입니다.</div>
        <p>이름 또는 이메일 주소를 한번 더 확인해주세요.</p>
      </div>
      <script src="{% static 'js/find.js' %}"></script>
    </body>
</html>