{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/find.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>비밀번호찾기2</title>
  </head>
  <body>
    <article>
      <header>
        <div class="title_box">
          <div class="page_title_pw">비밀번호 찾기</div>
          <img src="{% static 'img/ph_x.png' %}" alt="X아이콘" />
        </div>
        <div class="shadow_line"></div>
      </header>
      <form method="#" action="#">
        <div class="first_info">
          <div class="title">비밀번호 재설정 링크를 전송했어요!</div>
          <div class="guide">이메일을 확인해주세요.</div>
        </div>
      </form>
      <button class="nav-login">로그인하기</button>
    </article>
    <script src="{% static 'js/find.js' %}"></script>
  </body>
</html>
