<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="find.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>이메일찾기2</title>
  </head>
  <body>
    <article>
      <header>
        <div class="title_box">
          <div class="page_title">이메일 찾기</div>
          <img src="../image/ph_x.png" alt="X아이콘" />
        </div>
        <div class="shadow_line"></div>
      </header>
      <form method="#" action="#">
        <div class="first_info">
            <div class="title">이메일을 찾았어요!</div>
            <div class="guide">아래 계정으로 로그인해주세요.</div>     
                <div class="result_box">
                  <p>like***@example.com</p>
                </div>
        </div>
    </article>
  </body>
</html>