<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/qna.chat.css' %}" />
    <title>일반질문2</title>
  </head>
  <body>
    <header>
      <div class="blank"></div>
      <a class="nav-main" href="../main/main.html"
        ><img
          class="header_logo"
          style="width: 96.1px; height: 26.4px"
          src="{% static 'img/워크레디 로고 수정 (이름+로고) 2.png' %}"
      /></a>
      <a class="nav-MyPage" href="#none"
        ><img src="{% static 'img/bi_person.png' %}"
      /></a>
    </header>
    <div
      style="
        width: 393px;
        height: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border: 1px rgba(138, 136, 136, 0.38) solid;
        position: fixed;
        top: 70px;
        z-index: 200;
      "
    ></div>
    <div id="menu-trigger" class="menu-trigger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="sidebar" class="sidebar">
      <div
        style="
          position: fixed;
          width: 318px;
          height: 0;
          top: 70px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          border: 1px #5422e1 solid;
        "
      ></div>
      <div class="ham-menu mt-5">
        <div class="welcome">이수빈님, 반갑습니다.</div>
        <div class="menu-list">
          <ul class="ham-top-menu">
            <li>
              <a href="#">프로필 등록</a>
            </li>
          </ul>
          <ul class="ham-top-menu">
            <li>
              <a href="#">프로필 보기</a>
            </li>
          </ul>
          <ul class="ham-top-menu">
            <li>
              <a href="#"
                >멘토 Q&A<img src="{% static 'img/sidebar_down.png' %}"
              /></a>
              <ul class="ham-sub-menu">
                <li><a href="../qna/qna.gen.index.html">일반 질문</a></li>
                <li><a href="../qna/qna.chat.index.html">1:1 질문</a></li>
              </ul>
            </li>
          </ul>
          <ul class="ham-top-menu">
            <li>
              <a href="#"
                >마이페이지<img src="{% static 'img/sidebar_down.png' %}"
              /></a>
              <ul class="ham-sub-menu">
                <li><a href="../my_qna/myquestion.html">MY 질문 기록</a></li>
                <li><a href="../my_qna/myanswer.html">답변 관리</a></li>
                <li><a href="#">코인 사용 내역 조회</a></li>
                <li><a href="#">코인 구매하기</a></li>
                <li><a href="#">현금 전환하기</a></li>
              </ul>
            </li>
          </ul>
          <div
            style="
              position: absolute;
              width: 318px;
              height: 0;
              bottom: -28px;
              left: -28px;
              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
              border: 1px #5422e1 solid;
            "
          ></div>
        </div>
        <a class="logout" href="#"
          >로그아웃<img src="{% static 'img/mage_logout.png' %}"
        /></a>
      </div>
    </div>

    <nav class="navbar">
      <ul>
        <li><a class="nav-SignUpProfile" href="#none">프로필 등록</a></li>
        <li><a class="nav-ViewProfile" href="#none">프로필 보기</a></li>
        <li>
          <a class="nav-QnA" href="../qna/qna.gen.index.html">멘토 Q&A</a>
        </li>
      </ul>
    </nav>
    <div
      style="
        width: 393px;
        height: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border: 1px rgba(138, 136, 136, 0.38) solid;
        position: fixed;
        top: 125px;
        z-index: 200;
      "
    ></div>

    <div class="qna-navbar">
      <a class="nav-genQ" href="qna.gen.index.html">일반 Q&A</a>
      <img src="{% static 'img/Line 9.png' %}" style="top: 2px; position: relative" />
      <a class="nav-oneQ" href="qna.chat.index.html">1 : 1 Q&A</a>
    </div>
    <div
      style="
        width: 393px;
        height: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border: 1px rgba(138, 136, 136, 0.38) solid;
        position: fixed;
        top: 180.6px;
        z-index: 200;
      "
    ></div>

    
    <div class="mychat">
      <input
        id="chat-input"
        placeholder="멘토의 답변을 받으면 10 코인이 차감돼요."
      ></input>
      <button id="chat-send" onclick="sendChat()"><img src="{% static 'img/clarity_circle-arrow-solid.pngLine 9.png' %}"></button>
    </div>
    <script src="{% static 'js/qna.chat.js' %}"></script>
  </body>
</html>
