<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        form {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div><a href="{% url 'create_profile1' %}">프로필 작성</a></div>
    <h1>Profile List</h1>
    <form method="get" action="{% url 'profile_list' %}">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    <a href="{% url 'profile_list' %}">전체</a>
    <a href="{% url 'keyword_list2' interest1='UX' interest2='UI' %}">UX/UI</a>
    <a href="{% url 'keyword_list2' interest1='유통' interest2='무역' %}">유통/무역</a>
    <a href="{% url 'keyword_list2' interest1='IT' interest2='데이터' %}">IT/데이터</a>
    <a href="{% url 'keyword_list1' interest='해외영업' %}">해외영업</a>
    <a href="{% url 'keyword_list1' interest='서비스기획' %}">서비스기획</a>
    <a href="{% url 'keyword_list2' interest1='생산' interest2='제조' %}">생산/제조</a>
    <a href="{% url 'keyword_list2' interest1='회계' interest2='재무' %}">회계/재무</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Short Intro</th>
                <th>Interest</th>
                <th>Current Job</th>
                <th>Introduce</th>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles%}
                <td><a href="{% url 'profile_detail' profile.id %}">
                    {{ profile.id }}
                    </a>
                </td>
                <td>{{ profile.user.name }}</td>
                <td>{{ profile.short_intro }}</td>
                <td>{{ profile.interest }}</td>
                <td>{{ profile.current_job }}</td>
                <td>{{ profile.introduce }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
