/* iPhone 15 Pro portrait orientation */
@media only screen and (min-device-width: 393px) and (max-device-width: 430px) and (min-device-height: 852px) and (max-device-height: 932px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /* 세로 방향 스타일 정의 */
}
body {
  width: 393px;
  height: 852px;
  background: #fff;
  margin: 0%;
  position: relative;
  .height {
    height: 852px;
  }
}

header {
  display: flex;
  padding: 19px 27px 17.6px 27px;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 339px;
  height: 37px;
  z-index: 101; /* Header의 z-index를 101로 설정하여 사이드바보다 높게 설정 */
  background: #fff;
  .blank {
    width: 28px;
    height: 24px;
  }
}
#menu-trigger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  top: 27px;
  left: 29px;
  position: fixed; /* 고정 위치로 변경 */
  z-index: 1003; /* 사이드바보다 높은 z-index */
}

#menu-trigger span {
  display: block;
  width: 100%;
  height: 2.5px; /* 바의 두께를 버튼 크기에 맞게 조정 */
  background-color: #333;
  border-radius: 1.5px; /* 테두리를 둥글게 */
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-bottom: 3px; /* 요소들 간의 간격을 좁힘 */
}

#menu-trigger span:last-of-type {
  margin-bottom: 0; /* 마지막 span에 대한 여백 제거 */
}

.menu-trigger.active-1 span:nth-of-type(1) {
  transform: translateY(8px) rotate(-45deg); /* translateY 값 조정 */
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg); /* translateY 값 조정 */
}
.sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1002; /* 사이드바의 z-index를 100으로 설정 */
  .ham-menu.mt-5 {
    padding: 15px 28px;
    .welcome {
      width: 189px;
      height: 23px;
      color: #000;
      font-family: "Noto Sans KR";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; /* 110% */
      letter-spacing: -0.408px;
      padding: 10px 24px 16px 51px;
    }
    .menu-list {
      position: relative;
      top: 0px;
      padding-top: 34px;
    }
    .logout {
      padding-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #848080;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 110% */
      letter-spacing: -0.408px;
      text-decoration: none;
    }
  }
}

.sidebar.active {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
.ham-menu {
  padding: 20px;
}

.ham-top-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.408px;
}

.ham-top-menu > li {
  margin-bottom: 20px;
}

.ham-top-menu > li > a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 264px;
  img {
    width: 26px;
    height: 26px;
    padding-left: 28px;
  }
}

.ham-sub-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 20px;
  display: none;
}
.ham-sub-menu.active {
  display: block;
}

.ham-sub-menu > li {
  padding-bottom: 12px;
  a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.408px;
  }
}

.ham-top-menu > li:hover .ham-sub-menu {
  display: block;
}
.navbar {
  z-index: 100;
  position: fixed;
  top: 70px;
  background: #fff;
  width: 100%;
  ul {
    display: flex;
    list-style: none;
    padding-left: 0%;
    margin: 0%;
    li {
      padding: 15px 22px 15px 22px;
      color: #8a8888;
      text-align: center;
      font-family: "Noto Sans KR";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
.blank {
  height: 123px;
}
.banner {
  margin-top: 3px;
  width: 393px;
  height: 253px;
  .banner_img {
    z-index: 1;
    position: absolute;
  }
  div {
    z-index: 3;
    position: absolute;
    .banner_logo {
      margin-left: 29px;
      margin-top: 50px;
      width: 102.588px;
      height: 33px;
    }
    .banner_headline {
      margin-left: 30px;
      margin-top: 8px;
      width: 282px;
      height: 74px;
      color: #fff;
      font-family: "Noto Sans KR";
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 37px; /* 168.182% */
      letter-spacing: -0.408px;
    }
  }
}

.mentorOfMonth {
  div:first-child {
    display: flex;
    white-space: nowrap;
    .mentor_title {
      padding: 20px 216px 16px 21px;
      color: #5422e1;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 110% */
      letter-spacing: -0.408px;
    }
    a {
      padding-top: 21px;
      width: 44.945px;
      height: 17px;
      display: flex;
      align-items: center;
      color: #8a8888;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      img {
        padding-left: 1px;
        width: 5.91px;
        height: 13.44px;
      }
    }
  }
}

.mentor-card-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  .mentor-card {
    border-radius: 5px;
    border: 1px solid rgba(84, 34, 225, 0.5);
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.latestQnA > div:first-child {
  display: flex;
  white-space: nowrap;
  .latestQnA_title {
    padding: 20px 142px 16px 21px;
    color: #5422e1;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 110% */
    letter-spacing: -0.408px;
  }
  a {
    padding-top: 21px;
    width: 44.945px;
    height: 17px;
    display: flex;
    align-items: center;
    color: #8a8888;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    img {
      padding-left: 1px;
      width: 5.91px;
      height: 13.44px;
    }
  }
}

.questions-container {
  display: flex;
  overflow: auto;
  .question-card {
    width: 209px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(84, 34, 225, 0.5);
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
