* {
  /* 전체 폰트 적용*/
  font-family: "inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
}

.time_bar {
  background-color: #fff;
}

.title_box {
  width: 393px;
  height: 63px;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu_bar img {
  width: 28px;
  height: 24px;
  flex-shrink: 0;
}

.logo img {
  width: 96.1px;
  height: 26.401px;
  flex-shrink: 0;
  margin: 0px 94.04px 0px 93px;
}

.mypage img {
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}

.subtitle_box {
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.menu {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  color: #8a8888;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu.active {
  color: #5422e1;
  font-weight: 700;
  border-bottom: 1px solid #5422e1;
}

.puple_line {
  width: 131px;
  height: 1px;
  color: #5422e1;
}

.shadow_line {
  width: 393px;
  height: 1px;
  background: rgba(138, 136, 136, 0.38);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
/* 여기까지 고정 헤더 */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
  width: 393px;
}

.serch {
  width: 331px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(245, 245, 245, 0.9);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 0px 15px;
}

input[type="text"] {
  background-color: transparent; /* 배경 투명하게 */
  border: none;
  width: 230px;
  flex-direction: row;
  align-items: center;
  color: #626060;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.408px;
}

input:focus {
  outline: none; /* 클릭 시 테두리 없앰 */
}

.serch_icon {
  background-color: transparent; /* 배경 투명하게 */
  border: none;
  margin-left: auto;
}

.category_box {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 70px;
  margin: 17px 0px;
  display: flex;
  justify-content: space-between;
}

.category {
  width: 67px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #8a8888;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.408px;
}

.check_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.indiv_agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8a8888;
  font-family: "Noto Sans KR";
  font-size: 12px;
  font-weight: 500;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.408px;
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border: 1.8px solid var(--MAIN, #8a8888);
  border-radius: 50%; /* 원형 체크박스 */
  appearance: none; /* 기본 체크박스 스타일 제거 */
  margin-right: 4px;
}

input[type="checkbox"]:checked {
  border: 1.8px solid var(--MAIN, #5422e1);
  color: #5422e1;
}

input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 100%; /* 체크박스 크기에 맞춤 */
  height: 100%; /* 체크박스 크기에 맞춤 */
  background-image: url("../img/check.svg"); /* 체크표시 이미지 경로 */
  background-size: 80%; /* 원형 안으로 크기 맞춤 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  transform: translate(8%, 25%); /* 중앙으로 이동 */
}

.intro_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  width: 331px;
  height: 195px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid rgba(84, 34, 225, 0.5);
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile_img {
  width: 147px;
  height: 157px;
  flex-shrink: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 9px;
}

.username {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 146.667% */
  letter-spacing: -0.408px;
}

.question {
  width: 41px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #5422e1;
  background: #fff;
  color: #5422e1;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 275% */
  letter-spacing: -0.408px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
}

.mycategory {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 169.231% */
  letter-spacing: -0.408px;
  padding-left: 2px;
}

.hashtag {
  color: #5422e1;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 183.333% */
  letter-spacing: -0.408px;
}

.education,
.company {
  color: #000;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.408px;
  margin-bottom: 3px;
}

.star {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 275% */
  letter-spacing: -0.408px;
}

.star_score {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}
