{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- css 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/coin1.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>coin1_page</title>
    <!-- 모바일 크기 적용 -->
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
        background-color: #efefef;
      }

      article {
        width: 393px;
        height: 852px;
        background-color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 0;
        left: 0;
      }
    </style>
  </head>
  <body>
    <article>
      <header>
        <div class="time_bar">
          <img src="{% static 'img/time_bar.svg' %}" alt="최상단바" />
        </div>
        <div class="title_box">
          <div class="menu_bar">
            <img src="{% static 'img/menu.svg' %}" alt="메뉴바" />
          </div>
          <div class="logo">
            <img src="{% static 'img/logo_full.png' %}" alt="로고" />
          </div>
          <div class="mypage">
            <img src="{% static 'img/person.svg' %}" alt="마이페이지" />
          </div>
        </div>
        <div class="shadow_line"></div>
        <div class="subtitle_box">
          <button class="menu" id="menu1">프로필 등록</button>
          <button class="menu" id="menu2">프로필 보기</button>
          <button class="menu" id="menu3">멘토 Q&A</button>
        </div>
        <div class="shadow_line"></div>
      </header>
      <div class="main">
        <div class="mycoin">
          <div class="title">MY 코인</div>
          <div class="coin">
            <img src="{% static 'img/pupple_coin.svg' %}" alt="코인아이콘" />
            10
          </div>
          <div class="choose_box">
            <button class="buy_coin">코인 구매하기</button>
            <button class="change_coin">현금 전환하기</button>
          </div>
        </div>
        <div class="puple_shadow_line"></div>
        <div class="list_box">
          <div class="check_box">
            <div class="indiv_agree"><input type="checkbox" />전체</div>
            <div class="indiv_agree"><input type="checkbox" />사용 내역</div>
            <div class="indiv_agree"><input type="checkbox" />적립 내역</div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
          <div class="coin_list">
            <div class="text">
              <div class="pay">-10코인</div>
              <div class="purpose">1:1 질문 등록</div>
              <div class="date">2024년 3월 27일</div>
            </div>
            <div class="shadow_line"></div>
          </div>
        </div>
      </div>
    </article>
    <script src="{% static 'js/profile_register1.js' %}"></script>
  </body>
</html>
